@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            overflow-x: hidden;
        }
        :root {
          --footer: rgb(5, 18, 31); 
          --button: rgb(44,174,186);
          --links: rgb(16,42,66);
          --hover: rgb(136,235,242);
          --hamburger-line: rgb(5,18,31);
          --background-white:rgb(255,255,255);
        }
        html {
          scroll-behavior: smooth;
      }
    body {
        overflow-x: hidden;
        overflow-y: hidden;
        font-family: 'Roboto', sans-serif;
      }
  nav {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          min-height: 8vh;
          background-color: var(--footer);
      }
      .nav-links {
          display: flex;
          justify-content: space-around;
          width: 30%;
          list-style: none;
      }
      .nav-links a {
          font-size:1rem;
          text-decoration: none;
          color: var(--background-white);
          text-transform: capitalize;
      
      }
      .nav-links a:hover {
          transition: all 1s ease;
          color: var(--background-white);
          border-bottom: 1px solid var(--background-white);
          color: var(--background-white);
      }
      .hamburger-menu {
          padding: 1rem;
          display: none;
          cursor: pointer;
      }
      .line {
        width: 25px;
        height: 3px;
        background-color: var(--background-white);
        margin: 5px;
        transition:all .3s ease-in;
    }
    @media only screen and (max-width:768px){
      .nav-links {
            position: absolute;
            right: 0;
            height: 100vh;
            top: 5vh;
            background-color:var(--footer);
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
            z-index: 9999;
            opacity:.9;
            
          }
          .nav-links li {
            overflow-x: hidden;
            
        }
        .hamburger-menu {
            display: block;
        }
    }
    .nav-active {
      transform: translateX(0%);
  }
  @keyframes navLinkFade {
      from {
opacity: 0%;
transform: translateX(50px);
}
to {
  opacity: 1;
  transform: translateX(0px);

      }
  }

.toggle .line1{
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px, -6px);
}
/*------------------ main body  */
.timeline-header-title {
  text-align: center;
  padding: 2rem;
}
.timeline-header-subtitle {
  padding-bottom: 2rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width:1200px;
  /* background-color: blue; */
  justify-content: center;
  gap: 2rem;
  transform: translateX(400%);
  transition: 1s ease;
}
.box:nth-of-type(even) {
  transform: translateX(-400%);
}
.box.show {
  transform: translateX(0);
}
.img-box {
  width: 600px;
    height: 500px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
  }
    
    
  .img-box-1 {
  background-image: url(./imgs/timeline1.jpg);
}
  .img-box-2 {
  background-image: url(./imgs/timeline2.jpg);
}
  .img-box-3 {
  background-image: url(./imgs/timeline3.PNG);
}
  .img-box-4 {
  background-image: url(./imgs/timeline4.jpg);
}
  .img-box-5 {
  background-image: url(./imgs/timeline5.jpg);
}
  .img-box-6 {
  background-image: url(./imgs/timeline6.jpg);
}
  .img-box-7 {
  background-image: url(./imgs/timeline7.jpg);
}
  .img-box-8 {
  background-image: url(./imgs/timeline8.jpg);
}
  .img-box-9 {
  background-image: url(./imgs/timeline9.JPG);
}

.text-box {
color: white;
font-size: 1.5rem;
line-height: 1.5;
letter-spacing: .1rem;
padding: 1rem;
font-weight: 300;
}
blockquote {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: lighter;
  letter-spacing: .2rem;
  margin-bottom: 2rem;
}
span {
  color: var(--button);
  text-transform: capitalize;
}
.date {
  font-size: 3rem;
}


 /* footer section  */
 footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--footer);
}
.footer-icons {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 15%;
  margin: 2rem 0 1rem 0;
  

}

#footer-icon {
  color: white;
  font-size: 1.5rem;
}
.fa-arrow-up {
  color: var(--button);
}
.footer-hr {
  height: .1rem;
  width: 4%;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border: none;
  background-color: var(--button);
}
.footer-txt {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
  letter-spacing: .1rem;
}
.span-name {
  color: var(--button);
  text-transform: uppercase;
}
.j-s {
  text-decoration: none;
}
@media (max-width:30em) {

  
 .box {
   grid-template-columns: 1fr;
   max-width: 360px;
   margin-bottom: 1.5rem;
 }
 .img-box {
   height: 300px;
 }
 .text-box {
   padding:0 8rem;
   font-size: 1rem;
 }
 .img-box-8 {
   background-position: top;
 }
 .img-box-9 {
   background-position: top;
   margin-left: 12rem;
 }
 .footer-icons {
   width: 25%;
 }
  #footer-icon {
    margin-right: 45px;
  }
}