@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
:root {
    --background-blue: rgb(224,252,255);
    --background-grey: rgb(241,245,248);
    --background-white:rgb(255,255,255);
    --navSticky-background: rgb(250,250,250,0.98);
    --navSticky-shadow:(#efefef);
    --links: rgb(16,42,66);
    --h1: rgb(16,42,66);
    --contactForm-background: rgb(16,42,66);
    --h2: rgb(16,42,66);
    --social-media-link: rgb(16,42,66);
    --h3: rgb(97,125,165);
    --hover: rgb(136,235,242);
    --button: rgb(44,174,186);
    --button-hover: rgb(136,235,242);
    --tech-stack: rgb(218,226,236);
    --link-font: "Roboto", sans-serif;
    --footer: rgb(5, 18, 31);
    --box-shadow:rgb(179, 157, 157);
    --hero-background:rgba(248, 238, 238, 0.3);
}
/* ----Start of Header---- */
/* ----------------------- */
header {
    display: flex;
    flex-direction: column;
  background-color: var(--background-white);
  max-width: 100%;
  margin-bottom: 3rem;
}
.sticky .row   {
    position: fixed; 
    top: 0;
    bottom:0;
    width: 100%; 
    height: 1.5rem;
    z-index: 9999; 
    background-color:var(--h1);
    box-shadow: 0 2px 2px #efefef;
    padding: 2rem;
    align-items: center;
}
.row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 6rem;
    flex-wrap: wrap;
    animation-name: moveInRight;
    animation-duration: 3s;
    margin-bottom: 2rem;
    background-color: var(--h1);
}
.main-nav li  {
    display: inline-block;
    padding: 0 2rem;
    font-family: var(--link-font);
}
.nav-links {
    color:var(--background-white);
    text-decoration: none;
    font-size: 1.5rem;
}
.nav-links:hover {
    transition: all 1s ease;
    color: var(--hover);
    border-bottom: 1px solid var(--hover);
}
.hamburger {
    display: none;
}
.txt-img-box {
    display: grid;
    grid-template-columns: 1fr  1fr;
    justify-items: center;
    max-width: 90%;
    margin: auto;
}
.hero-text-box {
    margin:8rem 4rem;
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 6rem;
    font-family: var(--link-font);
    padding: .3rem 0;
    text-transform: capitalize;
    color: var(--h1);
    animation-name: moveInLeft;
    animation-duration: 3s;
}
.name-top-border {
    background-color:var(--button);
    height: .2rem;
    border: none;
    margin-right: 20rem;
    animation-name: moveInLeft;
    animation-duration: 3s;
}
@keyframes moveInLeft {
    0% {
        opacity: 0%;
        transform:translateX(-100px)
    }
    80% {
        opacity: 50%;
        transform:translateX(10px)
}
    100% {
        opacity: 100%;
    }
}
h3 {
    font-size: 2rem;
    font-family: var(--link-font);
    font-weight: 500;
    color: var(--h3);
    padding-bottom: .3rem;
    text-transform: capitalize;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-delay: .1s;
}
h5 {
    font-size: .9rem;
    font-family: var(--link-font);
    font-weight: 500;
    color: var(--h3);
    padding-bottom: 1.5rem;
    text-transform: capitalize;
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-delay: .2s;
}
.btn {
    margin-right: .5rem;
    margin-bottom: 1.5rem;
    padding:.4rem .8rem;
    border-radius: .8rem;
    color: var(--hover);
    text-transform: uppercase;
    background-color: var(--button);
    border: none;
    animation-name: moveUp;
    animation-duration: 3s;
    padding: 1rem 2rem;
    font-size: 1rem;
}
@keyframes moveUp {
    0% {
        opacity: 0%;
        transform:translateY(-100px)
    }
    80% {
        opacity: 50%;
        transform:translateY(20px)
    }
}
.btn:hover {
cursor: pointer;
text-decoration: none;
background-color: var(--button-hover);
color: var(--h1);
transition: all 1s ease;
box-shadow: 1px 2px 6px  var(--button) ;
}
.social-icon-row {
       list-style: none;
       animation-name: moveUp;
       animation-delay: .1s;
       animation-duration: 3s;
    }
   .fa-linkedin, .fa-github-square {
        color:var(--social-media-link);
        margin-right: .5rem !important;
        font-size: 1.9rem !important;
    }
    .fa-linkedin:hover, .fa-github-square:hover {
        color: var(--social-media-link);
        transition: all 1s ease;
        box-shadow: 1px 2px 6px  var(--button) ;
        text-decoration: none;
    }
    .linkedin {
        display: inline-block;
    }
 @keyframes fadeIn {
        0% {
            opacity: 0%;
        }
        100% {
            opacity: 100%;
        }
    }
    .hero-img-box {
        padding: 3rem;
    }
    .hero-img {
        width: 100%;
    
        border-radius: 50%;
        border: 2px solid var(--h1);
        animation-name: moveInRight; 
        animation-duration: 3s;
         }
  @keyframes moveInRight {
    0% {
        opacity: 0%;
        transform:translateX(100px)
    }
    80% {
        opacity: 50%;
        transform:translateX(-10px)
}
    100% {
        opacity: 100%;
    }
}
/* -----About me section ----- */
/* --------------------- ----- */
.about-me-section {
    background-color: var(--background-grey);
    margin-bottom: 3rem;
}
 h2 {
     text-align: center;
     color:var(--h2);
     text-transform: capitalize;
     font-family: var(--link-font);
     font-size: 2rem;
     padding:2rem .5rem .5rem;
     margin-top: 3rem;
  }   
  .about-me-underline {
    background-color:var(--button);
    height: .2rem;
    border: none;
    margin:0  48rem 2rem 48rem;
  }
    .about-me-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        animation-name: moveUp;
        animation-duration: 3s;
        padding-bottom: 3rem;
    }
    .about-me-hr {
        margin-right: 27rem;
        height: .2rem;
        background-color: var(--button);
        border: none;
    }
    .about-me-text {
        background-color: var(--background-white);
        width: 20rem;
        padding:1.5rem;
        margin: 3rem 0;
        border-radius: 5px;
        box-shadow: 0 1.2rem 3.2rem rgba(0,0,0, 0.05) ;
        }
    .about-me-icon {
        color:var(--h1);
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-align: center;
        width: 100%;
        font-size: 2rem;
        z-index:999;
        margin: 0 auto;
    }
   .about-me-heading {
font-size: 1.1rem;
text-align: center;
color: var(--h1);
margin-bottom: 1rem;
}
    .about-me-paragraph {
        font-family: var(--link-font);
        line-height: 1.5rem;
        letter-spacing: .03rem;
        color: var(--h3);
       }
  .btn-more {
      text-align: center;
      margin-bottom: rem;
  }
/* ------Tech stack --------- */
.tech-stack {
 margin-top: 2rem;
}
.tech-stack-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.friendly-with {
    align-items: center;
    margin-bottom: 2rem;
    animation-name: moveUp;
    animation-duration: 3s;
    font-family: var(--link-font);
    font-weight: 400;
}
.tech-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: flex-start;
}
.list-item {
    margin-bottom: 2rem;
}
.span-tech {
    text-transform: capitalize;
    margin: 1rem;
    background-color: var(--tech-stack);
    padding:.5rem 1rem;
    font-size: 1.5rem;
    border-radius: .2rem;
    color: var(--button);
    border-left: 0.4rem solid var(--button);
    
}
.span-tech-block {
    display: flex;
}
.span-title {
    font-size: 1.3rem;
    text-align: center;
    margin: 2rem 0;
    color: var(--h1);
    font-weight: 500;
}
.getting-to-know {
    font-family: var(--link-font);
    margin-bottom: 4rem;
    animation-name: moveUp;
    animation-duration: 3s;
}
/* -----Start of Project section------  */
.project-section {
    background-color:var(--background-grey);
    
}
.project-container {
    display: flex;
    justify-content:space-around;
    margin-top: 5rem;
    animation-name: moveInLeft;
    animation-duration: 3s;
    
}

.project-card {
     background-color: var(--background-white);
    border-radius: 5px;
    box-shadow: 1px 1px 20px var(--box-shadow);
     width: 16rem;
     transition: transform 0.5s, opacity 0.5s;
     overflow: hidden;
     }
    .project-image  {
        width: 100%;
        height: 200px;
      }
    .about-project-para {
        color: var(--h1);
        font-family: var(--link-font);
        font-size: 1.2rem;
        margin-top: 1rem;
        padding: 1rem;
        line-height: 1.3;
    }
   .project-card:hover {
    opacity: 1;
    transform: scale(1.01);
    cursor: pointer;
}
.project-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.fa-github-square {
    font-size: 1.4rem;
    color: var(--h1);
    margin: 0 .5rem;
}
.view-here-btn {
   color:var(--button); 
    background-color: var(--background-white);
    border: none;
    border-radius: .2rem;
    padding: .4rem .8rem;
    text-transform: uppercase;
    font-size: .7rem;
}
    .view-here-btn:hover {
cursor: pointer;
text-decoration: none;
background-color: var(--button-hover);
color: var(--h1);
transition: all 1s ease;
box-shadow: 1px 2px 6px  var(--button) ;
    }
.discover-more {
    text-align: center;
}
.discover-more-btn {
    margin:3rem 0 3rem 0;
}
/* ------------start of Contact Me section------  */
.contact-me-section {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color:var(--contactForm-background);
}
.contact-me-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color:var(--background-blue);
}
 .contact-me-container {
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
}
   .contact-form {
    position:absolute;
    margin-top: 5rem;
    margin-left: 90px;
    padding:0 200px;
    width: calc(100% - 150px);
    height: 70vh;
    width: 80%;
    box-shadow: 0 50px 50px rgba(0,0,0,0.5);
}
 .contact-form h2 {
    color:var(--h2);
    font-size: 24px;
    font-weight: 500;
}
.form-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 10px;
    width: 90%;
    background-color:white;
}
.contact-me-section .contact-me-container .contact-form .form-box .inputBox {
    position: relative;
    margin: 0 0 35px 0;
}
.contact-form h2 {
    width: 100%;
}
.inputBox .w50 {
    width: 47%;
}
.contact-me-section .contact-me-container .contact-form .form-box .inputBox.w100 {
    width: 100%;
}
.contact-me-section .contact-me-container .contact-form .form-box .inputBox input,
.contact-me-section .contact-me-container .contact-form .form-box .inputBox textarea {
    width: 100%;
    padding: 5px 10px;
    resize: none;
    font-size: px;
    font-weight: 300;
    color: #333;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}
 textarea {
    min-height: 4rem;
}
.contact-me-section .contact-me-container .contact-form .form-box .inputBox span {
position: absolute;
left: 0;
padding: 5px;
font-size: 15px;
font-weight: 100;
color: #333;
transition: 0.5s;
pointer-events: none;
}
.contact-me-section .contact-me-container .contact-form .form-box .inputBox input:focus ~ span,
.contact-me-section .contact-me-container .contact-form .form-box .inputBox input:valid ~ span,
.contact-me-section .contact-me-container .contact-form .form-box .inputBox textarea:focus ~ span,
.contact-me-section .contact-me-container .contact-form .form-box .inputBox textarea:valid ~ span
 {
    transform: translateY(-20px);
    font-size:12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: red;
}
.btn-submit {
    text-align: center;
    width: 100%;
}

/* ------------End of Contact Me section------  */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--footer);
}
.footer-icons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 10%;
    margin: 2rem 0 1rem 0;
}
#footer-icon {
    color: white;
    font-size: 1.5rem;
}
.footer-hr {
    height: .1rem;
    width: 4%;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border: none;
    background-color: var(--button);
}
.footer-txt {
    color: white;
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: .1rem;
}
.span-name {
    color: var(--button);
    text-transform: uppercase;
}
.j-s {
    text-decoration: none;
}
