* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* ---------Start of color variables----------- */
:root {
    --background-blue: rgb(224,252,255);
    --navSticky-background: rgb(250,250,250,0.98);
    --navSticky-shadow:(#efefef);
    --links: rgb(16,42,66);
    --hover: rgb(136,235,242);
    /* -----Start of Fonts------  */

    --link-font: "Roboto", sans-serif;
    /* -----End of Fonts------  */
}
/* ---------End of color variables----------- */

/* ---------Start of Header--------- */

header {
    display: flex;
    flex-direction: column;
  background-color: var(--background-blue);
  max-width: 1000%;
  height: 100vh;
}

/* ------Start of Nav bar------  */
/* .sticky {
    position: fixed; 
     top: 0%; 
     left: 0%; 
     width: 100%; 
     z-index: 9999; 
     background-color: var(--navSticky-background);
     box-shadow: 0 2px 2px #efefef;
} */
.row {
    
    justify-content: flex-end;

    height: fit-content;
}
.main-nav li {
    
    display: inline-block;
    padding: 0 3rem;
    font-size:1rem ;
    font-family: var(--link-font);
    
}
a {
    color: var(--links);
    text-decoration: none;
}
a:hover {
    transition: all 1s ease;
    color: var(--hover);
    border-bottom: 1px solid var(--hover);
}
.darkmode {
    margin-right: 40rem;
}
/* ------End of Nav bar------  */
/* ---------End of Header--------- */
.hero-text-box {
    background-color: yellow;
    height: fit-content;
    display: flex;
    flex-direction: column;
}